/* stylelint-disable no-duplicate-selectors */

:root {
    --base-color-white: #fff;
}

:root {
    --common-background-color-white: var(--base-color-white);
    --common-font-size-base: 12px;
    --common-font-size-1: 14px;
    --common-font-size-2: 16px;
    --common-font-size-3: 18px;
    --common-font-size-4: 20px;
    --common-font-size-5: 24px;
    --common-font-size-6: 28px;
}

/* stylelint-enable no-duplicate-selectors */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--common-background-color-white);
}
