/* stylelint-disable no-duplicate-selectors */

:root {
    --common-theme-color: #007aff;
    --common-background-color: #fff;
    --common-text-color-1: #303132;
    --common-text-color-2: #606142;
    --common-text-color-3: #909192;
    --action-bar-background-color: #f2f3f4;
}

:root {
    --common-space-1x: 4px;
    --common-space-2x: 8px;
    --common-space-3x: 12px;
    --common-space-4x: 16px;
    --common-space-5x: 20px;
    --common-space-6x: 24px;
    --common-space-7x: 28px;
    --common-space-8x: 32px;
    --common-space-9x: 36px;
    --common-space-10x: 40px;
    --common-font-size-0: 12px;
    --common-font-size-1: 14px;
    --common-font-size-2: 16px;
    --common-font-size-3: 18px;
    --common-font-size-4: 20px;
    --common-font-size-5: 24px;
    --common-font-size-6: 28px;
}

/* stylelint-enable no-duplicate-selectors */
