@import url('./base.css');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html {
    font-size: 100px;
} */

body {
    min-height: 100vh;
    background-color: var(--common-background-color);
}
